@media (min-width: 90em) {
  .content {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1;
    max-width: calc(100vw - 20rem);
  }

  .project__image {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    max-width: 100%;
  }

  .project__image img {
    position: sticky;
  }
  .project__page {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin: 0;

  }
}

.project__image {
  max-width: 75%;
}

video {
  width: 100%;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  display: flex; 
  align-items: center;
  margin-bottom: 1rem;
}

.youtube{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {

  img.project__image {
    object-fit: cover;
    max-width: 50%;
  }

  .youtube {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 50vw;
  }

}
